*.csv
*.json
*.jsonl

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz

*.egg-info/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development